.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: clamp(0.5rem, 1vw, 1rem);
    color: white;
    gap: clamp(1rem, 2vw, 3rem);
    margin-bottom: clamp(1rem, 1.5vw, 2rem);
}
.card1{
    width: 40vw;
    height: 40vh;
    background-color: #466afb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
}
.icon{
    color: #ffff;
    width: clamp(2.8rem, 2.5vw, 4rem);
    height: clamp(2.8rem, 2.5vw, 4rem);
}
.card2{
    width: 40vw;
    height: 40vh;
    background-color: #141A29;
    border: 1px solid #202534;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
}
.card4{
    width: 40vw;
    height: 40vh;
    background-color: #466afb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
}
.card3{
    width: 40vw;
    height: 40vh;
    background-color: #141A29;
    border: 1px solid #202534;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
}
.link{
    text-decoration: none;
    color: #ffff;
    font-size: clamp(2.2rem, 2.5vw, 3rem);
}
@media (max-width: 700px) {
    .container{
        flex-direction: column;
        margin: 0 auto 20px auto;
    }
    .card1, .card2, .card3, .card4{
        width: clamp(250px, 60vw, 70vw);
        /* width: clamp(10rem, 15vw, 50rem); */
    }
}