.page{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}
.language{
    color: white;
    padding: 10px;
    background-color: #141A29;
    border: 1px solid #202534;
    border-radius: 10px;
}
.top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.flag{
    width: 60px;
    height: 40px;
    object-fit: contain;
}
.abbreviation{
    font-weight: 900;
    font-size: large;
}
.description{

}