.languages {
  overflow: hidden;
  width: 100%;
  padding: clamp(0.5rem, 3vw, 1rem) clamp(1rem, 7vw, 15rem);

}

.swiper {
  padding: 1rem 0;
}

.slide {
  width: 300px;
  height: 250px;
}

.language {
  background: #141A29;
  border-radius: 10px;
  border: 1px solid #202534;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 15px, 20px);
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.flag {
  width: 100px;
  height: auto;
}

.abbreviation {
  font-weight: bold;
  font-size: clamp(16px, 20px, 25px);
}

.description {
  font-size: clamp(14px, 18px, 22px);
}
@media (max-width: 355px) {
  .slide{
    width: 270px;
    height: 250px;
  }
}
/* .container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}
.top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.flag{
    width: 60px;
    height: 40px;
    object-fit: contain;
}
.abbreviation{
    font-weight: 900;
    font-size: large;
}
.description{

} */