.languages {
  overflow: hidden;
  width: 100%;
  padding: clamp(0.5rem, 3vw, 1rem) clamp(1rem, 7vw, 15rem);

}

.swiper {
  padding: 1rem 0;
}

.slide {
  width: 300px;
  height: 300px;
}

.language {
  background: #141A29;
  border-radius: 10px;
  border: 1px solid #202534;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 15px, 20px);
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
}

.levels{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: clamp(5px, 8px, 13px);
  margin-bottom: 2rem;
}
.levels span{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(2, 180, 2);
}


.top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.flag {
  width: 100px;
  height: auto;
}

.abbreviation {
  font-weight: bold;
  font-size: clamp(16px, 20px, 25px);
}

.description {
  font-size: clamp(14px, 18px, 22px);
}
@media (max-width: 355px) {
  .slide{
    width: 270px;
    height: 270px;
  }
}