.optionsContainer{
    margin-top: 3rem;
    display: flex;
  gap: 0.5rem;
}
.option {
  width: 10vw;
  height: 10vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 24px;
}

.option:hover {
  background-color: #f0f0f0;
}

/* Цвета при выборе */
.correct {
  background-color: #4caf50 !important; /* зелёный */
  color: white;
  border-color: #4caf50;
}

.incorrect {
  background-color: #f44336 !important; /* красный */
  color: white;
  border-color: #f44336;
}