.main{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.title{
  margin: 3vh 0 0.5vh 0;
  font-size: clamp(2.5rem, 2.5vw, 3rem);
  color: #ffff;
  text-align: left;
  width: 100%;
  padding: 0px clamp(1rem, 7vw, 15rem);
}