.main{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.title{
  margin: 3vh 0 0.5vh 0;
  font-size: 2rem;
  color: #ffff;
  text-align: left;
  width: 100%;
  padding: 0px clamp(4rem, 20vw, 8rem);
}