/* pages/BookReadingPage.module.css */
.readerContainer {
  height: 100vh;
  position: relative;
}

.pageNumber {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}