.header{
    background-color: #410FA3;
    width: 100%;
    padding: clamp(1rem, 1vw, 2rem) clamp(1rem, 7vw, 15rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: white;
    margin: 0;
    font-size: clamp(2.2rem, 2.5vw, 3rem);
}
.log{
    text-decoration: none;
}
.links{
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 2vw + 1rem, 4rem);
}
.link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #B39FDA;
}
.link b{
    font-size: clamp(1.3rem, 1vw, 3rem);
}
.user{
    font-size: clamp(2.5rem, 2.5vw, 3rem);
    color: white;
    margin: 0;
}


@media (max-width: 768px) {
    .link{
        display: none;
    }
}