
.page {
  max-width: 970px;
  margin: 2rem auto;
  padding: 1rem;
}
.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
}