.footer{
    background-color: #410FA3;
    width: 100%;
    padding: clamp(1rem, 1vw, 2rem) clamp(1rem, 7vw, 15rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 4rem);
}
.link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #B39FDA;
}
.logo{
    font-size: clamp(1rem, 1.5vw, 2rem);
}