.hero {
  padding: clamp(0.5rem, 3vw, 1rem) clamp(1rem, 5vw, 5rem);
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.container {
  padding: clamp(0.5rem, 3vw, 1rem) clamp(1rem, 5vw, 5rem);
  max-width: 1440px;
  margin: 0 auto;
}
.swiper {
  border-radius: 15px;
  max-height: 500px;
  width: 100%;
}
.slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

@media (max-width: 1430px) {
  .container{
    width: 95vw;
  }
}

@media (max-width: 1000px) {
  .hero {
    margin: 15px 0;
  }
  .container {
    max-width: 95vw;
    height: max-content;
  }
}

@media (max-width: 768px) {
  .img {
    height: 50vh;
  }
}
